body {
  font-family: "Noto Sans JP", sans-serif;
}

input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.normal {
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #232f3e;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #232f3e;
  }
  h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #232f3e;
  }
  h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #232f3e;
  }
  h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #232f3e;
  }
  p {
    font-size: 20px;
    color: #232f3e;
    margin-bottom: 30px;
  }
}
