@layer reset, base, tokens, recipes, utilities;

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--colors-gray-50);
  color: var(--colors-gray-900);
  font-family: var(--fonts-body);
}

#root {
  min-height: 100vh;
}
