name: tf-plan-apply-mizpos-dev

on:
  push:
    branches: [main]
    paths:
      - "terraform/**"
      - "lambda/**"
  workflow_dispatch:

env:
  WORKING_DIR: terraform/tf-dev
  AWS_REGION: ap-northeast-1
  AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN_DEV }}
  LAMBROLL_VERSION: 1.3.2

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  terraform:
    name: mizpos-tf-dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Setup Terraform Tools
        uses: ./.github/actions/comment

      - name: Terraform Plan Apply
        uses: ./.github/actions/apply
        with:
          WORKING_DIR: ${{ env.WORKING_DIR }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TFCMT_CONFIG: ${{ github.workspace }}/zig/tfcmt.yml
          GITHUB_ACTOR: ${{ github.actor }}
          WORKFLOW_NAME: ${{ github.workflow }}

      - name: Get AWS Account ID and Save to Environment Variable
        shell: bash
        run: |
          AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          export AWS_ACCOUNT_ID
          echo "AWS_ACCOUNT_ID=$AWS_ACCOUNT_ID" >> $GITHUB_ENV

      - name: Install Lambroll
        shell: bash
        run: |
          curl -L https://github.com/fujiwara/lambroll/releases/download/v${{ env.LAMBROLL_VERSION }}/lambroll_v${{ env.LAMBROLL_VERSION }}_linux_amd64.tar.gz | tar -xz
          sudo mv lambroll /usr/local/bin/

      - name: Deploy "MAIN" Lambda Functions
        uses: ./.github/actions/deploy-lambda
        with:
          WORKING_DIR: ${{ env.WORKING_DIR }}
          ENV: dev
          AWS_ACCOUNT_ID: ${{ env.AWS_ACCOUNT_ID }}
          LAMBDA_FUNTION_PATH: lambda/accounts

      - name: Deploy "STOCK" Lambda Functions
        uses: ./.github/actions/deploy-lambda
        with:
          WORKING_DIR: ${{ env.WORKING_DIR }}
          ENV: dev
          AWS_ACCOUNT_ID: ${{ env.AWS_ACCOUNT_ID }}
          LAMBDA_FUNTION_PATH: lambda/stock

      - name: Deploy "SALES" Lambda Functions
        uses: ./.github/actions/deploy-lambda
        with:
          WORKING_DIR: ${{ env.WORKING_DIR }}
          ENV: dev
          AWS_ACCOUNT_ID: ${{ env.AWS_ACCOUNT_ID }}
          LAMBDA_FUNTION_PATH: lambda/sales
